<%= form_with(model: vaga, local: true) do |form| %>
  <% if vaga.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vaga.errors.count, "error") %> prohibited this vaga from being saved:</h2>

      <ul>
      <% vaga.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo, id: :vaga_titulo %>
  </div>

  <div class="field">
    <%= form.label :salario %>
    <%= form.text_field :salario, id: :vaga_salario %>
  </div>

  <div class="field">
    <%= form.label :modelo %>
    <%= form.text_field :modelo, id: :vaga_modelo %>
  </div>

  <div class="field">
    <%= form.label :local %>
    <%= form.text_field :local, id: :vaga_local %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
