<!DOCTYPE html>
<html>
  <head>
    <title>99Hunters</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <br>
    <br>
    <br>
    <br>
    <%= link_to 'Home', welcome_index_path %>
  </body>
</html>
